<h1>Liste des jeux disponible</h1>

<div class="card-product">
  <img src="https://cf.geekdo-images.com/BZiR636JJdSBwThtH42DVw__opengraph/img/_Iu_09Ab0fvnTJT3gBCfud0LbJg=/0x0:800x420/fit-in/1200x630/filters:strip_icc()/pic3744052.jpg" />
  <div class="card-product-infos">
    <h2><%= @game.name %></h2>
    <p>
      Hero Realms is a medieval fantasy adaptation of the deck-building game Star Realms.
      Each player starts with a ten-card deck containing gold for purchases and weapons for combat.
      As the game progresses, you will be able to acquire additional cards at the market.
    </p>
  </div>
</div>
