.navbar-lewagon {
  justify-content: space-between;
  background: #4e1c6c;
  margin-bottom: 5%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-expand-sm .navbar-nav .dropdown-menu {
  position: absolute;
  text-align: center;
}

.title_navbar h1{
  font-family: fangsong;
  color: beige;
}
